<% include partials/head %>
<!--indexend-->
<div id="main">
    <div class="input-group-prepend" id="micSdiv">
        <span class="input-group-text btn-xs" id="micOnOff"><i class="fas fa-microphone"></i></span>
    </div>
    <div id="terminator" class="container theme-showcase" role="main">
        <div id="jumboCombo">
            <div id="contoinor" class="col-sm-12 col-md-12">
                <div id="world"><canvas id="canvas" width="340" height="300" style="display: none;"></canvas></div>
                <input style="display: none;" id="note-textarea" disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>
<% include partials/footer %> 