<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/jslib/bootstrap.min.js" ></script>
<script defer src="//use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
<script src="//cdn.rawgit.com/mrdoob/three.js/r70/examples/js/controls/OrbitControls.js"></script>
<script src="/jslib/jarvisface.js" ></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/jslib/letsrock.js" ></script>
<script src="/jslib/jarvisIT.js" ></script>
</body>
</html>